:root {
  --white: #f4f4f4;
  --jet: #2f2f2f;
  --green: #1a3a32;
} 

.btn {
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 1em;
  font-size: 1rem;
  border-radius: 20px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: var(--green);
  border-color: var(--green);
}

.btn-primary:hover {
  background-color: #16312b;
  border-color: #16312b;
}

.btn-clear {
  color: #1e3e36;
}

.btn-clear:hover {
  background-color: #f6f4f1;
  border-color: #f6f4f1;
}